.QuizList {
	display: flex;
	justify-content: center;
	background: linear-gradient(45deg, #652136 0%, #1235 100%);
	flex-grow: 1;
	padding-top: 100px;
	width: 100%;
}
.QuizList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.QuizList li {
	margin-bottom: 10px;
}
.QuizList a {
	text-decoration: none;
	color: white;
}
.QuizList a:hover {
	color: bisque;
}
.QuizList h1 {
	color: white;
}
